<template>
    <div :class="[ this.position === 'header'? posUp : posDown, { isDVisible: clearInDownPosition }] ">

        <div class="subscribe d-flex"
             :class="[{ noBack: isSubscribed }, { isPaid: isToPay }]"
        >

            <div v-show="!isSubscribed" class="subscribe__texts">

                <div class="subscribe__title" v-if="this.position === 'header'">Стоимость обучения:</div>
                <div class="subscribe__title" v-else>Подготовка и начало заместительной почечной терапии</div>

                <div class="subscribe__prices">
                    <div class="subscribe__cost-old secondary-text"><s>10000 ₽</s></div>
                    <div class="subscribe__cost">6800 ₽</div>
                </div>

            </div>

            <div class="stateText2"
                 v-show="isSubscribed"
                 :class="{ paidClass:isToPay }"
            >
                {{ !this.isToPay ? "Вы успешно записались на данную программу" : "Курс успешно оплачен" }}
            </div>

            <button v-if="!isSubscribed" @click="toSubscribe()" class="subscribe__btn">{{ subscribeText }}</button>
            <button v-else @click="toPayBySubscribe()" class="subscribe__btn">{{ subscribeText }}</button>

            <div @click="toUnSubscribe" v-show="isSubscribed" class="cancel-subscribe secondary-text">Отменить запись</div>
        </div>

<!--        <div><button @click="toggleInvoiceBtn(1, 1)">BTN!</button></div>-->

    </div>
</template>


<script>

    import * as types from "@/stores/modules/auth/types";
    import * as profile_types from "@/stores/modules/profile/types";

    import * as globalStore from "@/stores/modules/globalStore/types";



    export default {
        name: "Subscribe",
        components: {

        },
        props: {
            position: {
                /*
                *  Must have this prop
                *  variations is : `header` or `content`
                *  can add new ones in the future
                */
                type: String,
                required: true
            },
        },
        data() {
            return {
                isToPay: false,
                clearInDownPosition: false,
                subscribeText: "Записаться",
                isSubscribed: false,
                posUp: "up-position",
                posDown: "down-position",
                name: "subscribe"
            }
        },
        computed: {
            rosminAuthStatus() {
                console.log(this.$store.getters["auth/getRosProfileData"]);
                return this.$store.getters["auth/getRosProfileData"]
                // return ((this.$store.state.auth.rosminAuthStatus == "success") ? false : true)
            },
        },
        methods: {
            toSubscribe() {

                //this.$store.dispatch("auth/" + types.A_SAVE_MODAL_STATUS, true)
                //this.$store.dispatch("auth/" + types.A_SAVE_REGISTER_PHONE_NUMBER, "+7");
                //this.$store.dispatch("auth/" + types.A_SET_STATUS_FROM_HP, true);
                if (!this.$store.state.auth.isAuthenticated) {

                    // если не зарегистрированны
                    // открываем логин
                    console.log(this.$route.path);

                    this.$store.dispatch("global/" + globalStore.GET_FROM_SUBSCRIBE, true);
                    this.$store.dispatch("global/" + globalStore.WRITE_URL_SUBSCRIBE, this.$route.path);

                    this.$store.dispatch("auth/" + types.A_STATUS_LOGIN_SHOW, true);

                    // отправляем action
                    // this.$store.dispatch("global/" + globalStore.GET_FROM_SUBSCRIBE);

                } else {
                    // если зарегистрированны и не подписанны при нажатии - меняем содержимое компонента "Подписаны"
                    this.isSubscribed = true;
                    this.clearInDownPosition = true;
                    if (this.isSubscribed === true) {
                        this.subscribeText = "Оплатить";
                    } else {
                        this.subscribeText = "Записаться";
                    }
                }
            },
            toUnSubscribe() {

                this.isSubscribed = false;
                this.clearInDownPosition = false;
                if (this.isSubscribed === true) {
                    this.subscribeText = "Оплатить";
                } else {
                    this.subscribeText = "Записаться";
                }
            },
            toPayBySubscribe() {


                //this.toggleInvoiceBtn(this.selectedProgram_key);
                this.isToPay = true
            },
            toggleInvoiceBtn(item, key) {
                if (!this.invoice_status[key]) {
                    this.invoice_items.price = this.programs[key].price;
                    this.invoice_items.total = this.programs[key].price;
                    this.invoice_items.name = this.programs[key].title;
                    this.selectedProgram_key = key;
                }
                this.bill_modal_show =0;
                this.individual.address = "";
                this.payForm();
                this.all_pay_modal_status = true;
                this.modalDataInformation = item
                this.$set(this.toggle_invoice_btn, key, !this.toggle_invoice_btn[key])
            }
        },

    }
</script>

<style lang="scss" scoped>

    .noBack {

        @media (min-width: 576px) and (max-width: 1024px) {
            margin-top: 0px !important;
        }

        background: none !important;
        box-shadow: none !important;
        text-align: center;

        .stateText2 {
            font-size: 18px;
            line-height: 117.84%;
            width: 100%;
            padding: 0 50px;
            margin-bottom: 10px;
            color: #242424;
            @media (min-width: 576px) and (max-width: 1024px) {
                position: relative;
                width: 50%;
                display: flex;
                align-items: center;
                padding: 0px;
                text-align: left;
                font-size: 23px;
                line-height: 1.3em;
                top: 2px;
            }
            @media (min-width: 1024px) {
                position: relative;
                top: 22px;
            }
        }

        .subscribe__btn {
            margin-top: 8px !important;
            @media (min-width: 576px) and (max-width: 1024px) {
                margin-top: 0 !important;
            }
            @media (min-width: 1024px) {

            }
        }

        .cancel-subscribe {
            font-size: 16px;
            line-height: 19px;
            margin-top: 18px;
            cursor: pointer;
            margin-bottom: 11px;
            @media (min-width: 576px) and (max-width: 1024px) {
                position: absolute;
                bottom: 4px;
                right: 17%;
            }
            @media (min-width: 1024px) {

            }
        }
    }

    .isPaid {

        background: none !important;
        box-shadow: none !important;
        text-align: center;

        .stateText2 {
            font-size: 18px;
            line-height: 117.84%;
            width: 100%;
            padding: 0 70px;
            margin-bottom: 10px;
            color: #242424;

            @media (min-width: 576px) {
                display: flex;
                justify-content: center;
            }
            @media (min-width: 1024px) {
                position: relative;
                top: 22px;
            }
        }

        .subscribe__btn {
            display: none;
        }

        .cancel-subscribe {
            display: none;
        }
    }

    // If position in the header

    .up-position {
        .subscribe {

            flex-direction: column;
            justify-content: space-between;
            margin-top: 40px;
            width: 100%;
            padding: 0;
            background: transparent;

            @media (min-width: 576px) {
                flex-direction: row;
                justify-content: space-around;
                height: 165px;
                margin-top: 30px;
                background: white;
                box-shadow: 0 7px 70px rgba(0, 50, 123, 0.1);
            }
            @media (min-width: 1024px) {
                flex-direction: column;
                justify-content: space-around;
                width: 280px;
                height: 272px;
                margin-top: 100px;
                background: white;
            }

            @media (min-width: 1200px) {
                width: 335px;
            }

            &__texts {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                @media (min-width: 576px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }
                @media (min-width: 1024px) {
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    text-align: center;
                    top: 13px;
                }
            }

            &__prices {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @media (min-width: 576px) {
                    align-items: flex-start;
                }
                @media (min-width: 1024px) {
                    align-items: center;
                    position: relative;
                    top: 27px;
                }
            }

            &__title {
                font-size: 16px;
                line-height: 1.2em;
                width: 50%;
                @media (min-width: 576px) {
                    width: 100%;
                    font-size: 20px;
                    line-height: 1.2em;
                    position: relative;
                    top: -10px;
                }
                @media (min-width: 1024px) {
                    position: relative;
                    top: 25px;
                }
            }

            &__cost-old {
                font-size: 16px;
                line-height: 1.3em;
                @media (min-width: 576px) {
                    font-size: 20px;
                    line-height: 24px;
                }
                @media (min-width: 1024px) {
                    font-size: 22px;
                    line-height: 26px;
                }
            }

            &__cost {
                font-weight: 600;
                font-size: 30px;
                line-height: 1.3em;
                @media (min-width: 576px) {
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 36px;
                }
                @media (min-width: 1024px) {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 48px;
                }
            }

            &__btn {
                background-color: #2F80F3;
                color: white;
                border: none;
                padding: 23px;
                margin: 0;
                outline: 1px dashed transparent;
                outline-offset: 2px;
                text-shadow: 1px 1px 2px #00000000;
                transition: background .3s ease, outline-offset .2s ease, text-shadow .3s ease, outline .3s ease;

                &:hover {
                    background-color: lighten(#2F80F3, 4%);
                    outline-offset: -5px;
                    outline: 1px dashed white;
                    text-shadow: 1px 1px 2px #00000075;
                }

                @media (min-width: 576px) {
                    height: 66px;
                    width: 300px;
                    position: relative;
                    top: 30%;
                }
                @media (min-width: 700px) {
                    padding: 20px;
                    width: 335px;
                    height: 66px;
                    @madia (min-wigth: 720px) {
                        width: 290px;
                    }
                }
                @media (min-width: 1024px) {
                    width: 100%;
                    top: 24px;
                    padding: 20px;
                }
            }
        }
    }

    // If position in the content

    .down-position {

        &.isDVisible {
            display: none !important;
        }

        .subscribe {

            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 264px;
            padding: 0 0;
            margin-top: 22px;
            background: white;
            box-shadow: 0 7px 70px rgba(0, 50, 123, 0.1);

            @media (min-width: 576px) {
                flex-direction: row;
                justify-content: space-between;
                height: 127px;
                margin-top: 47px;
                box-shadow: 0 7px 70px rgba(0, 50, 123, 0.1);
            }
            @media (min-width: 1024px) {
                justify-content: space-between;
                background: white;
                height: 128px;
                margin-top: 85px;
                background: white;
                box-shadow: 0 7px 70px rgba(0, 50, 123, 0.1);
            }

            &__texts {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                padding: 26px;
                @media (min-width: 576px) {
                    flex-direction: column;
                    justify-content: center;
                    text-align: left;
                    align-items: flex-start;
                    width: 70%;
                    padding: 30px;
                }
                @media (min-width: 1024px) {
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 70%;
                    position: relative;
                    padding: 20px;
                }
            }

            &__prices {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                top: 23px;
                @media (min-width: 576px) {
                    flex-direction: row-reverse;
                    align-items: flex-start;
                    top: 0px;
                }
                @media (min-width: 1024px) {
                    flex-direction: row;
                    min-width: 230px;
                }
            }

            &__title {
                font-weight: 700;
                font-size: 18px;
                line-height: 1.3em;
                justify-content: center;
                padding: 0 20px;
                @media (min-width: 576px) {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 26px;
                    padding: 0;
                }
                @media (min-width: 1024px) {
                    flex-wrap: wrap;
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            &__cost-old {
                font-size: 16px;
                line-height: 1.3em;
                @media (min-width: 576px) {
                    font-size: 20px;
                    line-height: 24px;
                    position: relative;
                    top: 10px;
                    left: 10px;
                }
                @media (min-width: 1024px) {
                    flex-wrap: nowrap;
                    font-size: 22px;
                    line-height: 26px;
                    position: relative;
                    left: 0;
                    top: 16px;
                    margin-right: 4px;
                }
            }

            &__cost {
                font-weight: 600;
                font-size: 30px;
                line-height: 1.3em;
                margin-bottom: 20px;
                @media (min-width: 576px) {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    margin-bottom: 0px;
                }
                @media (min-width: 1024px) {
                    flex-wrap: nowrap;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 48px;
                }
            }

            &__btn {
                background-color: #2F80F3;
                color: white;
                border: none;
                padding: 23px;
                margin: 0;
                outline: 1px dashed white;
                outline-offset: 2px;
                text-shadow: 1px 1px 2px #00000000;
                transition: background .3s ease, outline-offset .2s ease, text-shadow .3s ease;

                &:hover {
                    background-color: lighten(#2F80F3, 3%);
                    outline-offset: -5px;
                    text-shadow: 1px 1px 2px #00000075;
                }

                @media (min-width: 576px) {
                    width: 168px;
                    height: 58px;
                    position: relative;
                    top: 30%;
                    padding: 10px;
                    right: 30px;
                }
                @media (min-width: 1024px) {
                    width: 308px;
                    height: 66px;
                    top: 34px;
                    right: 20px;
                    padding: 10px;
                }
            }

        }
    }

</style>
