.m-container{
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
}
.new-programs {
    padding: 44px 0;

    .programm-title {
        margin-bottom: 60px;
        h1 {
            width: 85%;
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: bold;
            font-size: 44px;
            line-height: 53px;
            color: #242424;

            span {
                color: #2F80F3;
            }
        }

    }
    .program-info-slider {
        display: none;
        background-color: transparent;
        .icon-wrap {
            padding: 14px 0;
            .logo{
                //padding-left: 15px;
                display: flex;
                img {
                    width: 40px;
                }
                .logo-text{
                    width: 55%;
                    margin-left: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p{
                        font-family: "SF Pro Display";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #242424;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .slide-wrap{
            display: none;
            .next-slide-btn{
                border-top: 4px solid #FFFFFF;
                border-right: 4px solid #FFFFFF;
                width: 23px;
                height: 23px;
                transform: rotate(45deg);
            }
        }
    }

    .programinfodop {
        margin-top: 45px;
        width: 100%;
        margin-bottom: 65px;
        p {
            font-family: SF Pro Display;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #242424;
        }
    }
    .program-info {
        background-color: transparent;
        .icon-wrap {
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            .logo{
                display: flex;
                .logo-text{
                    margin-left: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p{
                        font-family: SF Pro Display;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 120.8%;
                        color: #242424;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .slide-wrap{
            display: none;
            .next-slide-btn{
                border-top: 4px solid #FFFFFF;
                border-right: 4px solid #FFFFFF;
                width: 23px;
                height: 23px;
                transform: rotate(45deg);
            }
        }
    }

    .programfilter {
        .filter-top {
            display:flex;
            flex-direction: row;
            align-items: center;
            .filter-top-checkbox {
                margin-right: 50px;
                .design-checkbox{
                    display: none;
                }
                .checkbox-label{
                    //font-family: "Open Sans";
                    display: grid;
                    grid-template-columns: auto 1fr;
                    align-items: center;
                    cursor: pointer;
                    color: #242424;
                    font-size: 20px;
                    position: relative;
                    margin-bottom: 0;
                    font-family: SF Pro Display;
                    font-weight: normal;
                    line-height: 20px;
                }
                .checkbox-label::before{
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 27px;
                    height: 27px;
                    background: #fff;
                    border: 1px solid #CAD1D7;
                    border-radius: 4px;
                    transition: 0.2s all;
                    margin-right: 20px;
                }
                .checkbox-label::after{
                    content: '';
                    position: absolute;
                    left: 7px;
                    top:calc(50% - 5px);
                    width: 13px;
                    height: 8px;
                    border-left: 3px solid #2F80F3;
                    border-bottom: 3px solid #2F80F3;
                    opacity: 0;
                    transform: rotate(-45deg);
                    transition: 0.2s all;
                }
                .design-checkbox:checked + label{
                    &::before{
                        background-color: #FFFFFF;
                        border-color:  #2F80F3;
                    }
                    &::after{
                        opacity: 1;
                    }
                }
            }
            .filter-top-autocomp {
                min-width: 500px;
            }
            .filter-top-search{
                position: relative;
                width: 400px;
                margin-left: 50px;
                border-bottom:1px solid #DCE4EE;
                input{
                    width: 89%;
                    min-height: 40px;
                    background: transparent;
                    border: none;
                    font-family: SF Pro Display;
                    color: #242424;
                    outline: none;
                    &::placeholder{
                        font-family: SF Pro Display;
                        color: #ADADAD;
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
                img{
                    cursor: pointer;
                    position: absolute;
                    right: 15px;
                    top: calc(50% - 10px);
                }
            }
        }
        .filter-bottom {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .filter-bottom-options {
                //display: grid;
                //grid-template-columns: 2fr 2fr 2fr;
                //grid-gap: 10px;
                display: flex;
                flex-flow: wrap;
                .box {
                    width: max-content;
                    background: #F2F4F7;
                    padding: 12px 24px;
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    span {
                        font-family: "SF Pro Display";
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        color: #242424;
                    }
                    img {
                        cursor: pointer;
                        margin-left: 15px;
                    }
                }
            }

            .filter-bottom-text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                p {
                    margin-bottom: 0;
                    margin-left: 12px;
                    font-family: SF Pro Display;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 20px;
                    text-align: right;
                    font-weight: normal;
                    color: #788AA4;
                    .personal-account{
                        color: #2F80F3;
                        border-bottom: 1px solid #2F80F3;
                    }
                }
            }
        }
    }
    .programFilterMobile {
        display: none;
        margin-top: 75px;
        button {
            width: 100%;
            border: 1px solid #2F80F3;
            color: #2F80F3;
            box-sizing: border-box;
            padding: 17px;
            text-align: center;
            background: none;

            span {
                margin-left: 10px;
            }
        }
    }

    //MOBILE FILET
    /deep/.modal-dialog {
        margin: 0;

    }
    .mobile-modal-filter-tag/deep/.modal-body{
            padding: 0;
    }
    .programFilterMobilePopap {
        width: 100%;
        background: #ffffff;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100vh;
        //position: absolute;
        //top: 0px;
        //left: 0;
        //z-index: 22;
        .programFilterPopBox {
            padding: 15px;
            //position: relative;
            background: #F9FAFD;
            //position: absolute;
            //width: 100%;
            //left: 0;
            //top: 0;
            box-shadow: 0 7px 70px rgba(0, 50, 123, 0.1);
            //z-index: 22;
        }

        .filterclose {
            text-align: right;
        }
        .filter-title {
            margin-top: 22px;
            margin-bottom: 25px;

            h2 {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 20px;
                color: #242424;
            }
        }
        .filter-checkbox {
            .filter-top-checkbox{
                .design-checkbox{
                    display: none;
                }
                .checkbox-label{
                    //font-family: "Open Sans";
                    display: grid;
                    grid-template-columns: auto 1fr;
                    width: max-content;
                    align-items: center;
                    cursor: pointer;
                    color: #8898AA;
                    font-size: 14px;
                    position: relative;
                    margin-bottom: 0;
                }
                .checkbox-label::before{
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 27px;
                    height: 27px;
                    background: #fff;
                    border: 1px solid #CAD1D7;
                    border-radius: 4px;
                    transition: 0.1s all;
                    margin-right: 20px;
                }
                .checkbox-label::after{
                    content: '';
                    position: absolute;
                    left: 7px;
                    top:calc(50% - 5px);
                    width: 13px;
                    height: 8px;
                    border-left: 3px solid #2F80F3;
                    border-bottom: 3px solid #2F80F3;
                    opacity: 0;
                    transform: rotate(-45deg);
                    transition: 0.1s all;
                }
                .design-checkbox:checked + label{
                    &::before{
                        background-color: #FFFFFF;
                        border-color: #2F80F3;
                    }
                    &::after{
                        opacity: 1;
                    }
                }
            }
            .filter-bottom-text {
                display: flex;
                flex-direction: row;
                margin-top: 33px;
                margin-bottom: 44px;
                align-items: center;
                p {
                    font-family: "SF Pro Display";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 20px;
                    color: #242424;
                    margin-left: 10px;
                    .personal-account{
                        color: #2F80F3;
                        border-bottom: 1px solid #2F80F3;
                    }
                }
            }
        }

        .filter-special {
            margin-bottom: 25px;
           p {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #404040;
            }
            .programs-tag-filter {
                width: 100%;
            }
        }
        .fitler-name {
            margin-bottom: 40px;
            p {
                 font-family: "SF Pro Display";
                 font-style: normal;
                 font-weight: normal;
                 font-size: 16px;
                 line-height: 20px;
                 color: #404040;
             }
        }
        .filter-top-search{
            position: relative;
            border-bottom: 1px solid #DCE4EE;
            input{
                font-family: SF Pro Display;
                width: 94%;
                min-height: 40px;
                background: transparent;
                border: none;
                color: #242424;
                outline: none;
                &::placeholder{
                    font-family: SF Pro Display;
                    color: #ADADAD;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
            img{
                cursor: pointer;
                position: absolute;
                right: 15px;
                top: calc(50% - 10px);
            }
        }
        .our-special {
            .box {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                span {
                    font-family: "SF Pro Display";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 20px;
                    color: #242424;
                }
                &:not(:first-child){
                    margin-top: 15px;
                }
                &:first-child{
                    margin-top: 10px;
                }
            }
        }
        .filter-actions {
            margin-top: 40px;

            .actions-show {
                button {
                    width: 100%;
                    background: none;
                    border: none;
                    padding: 22px;
                    text-align: center;
                    font-family: "SF Pro Display";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    background: #2F80F3;
                }
            }
            .actions-clear {
                button {
                    width: 100%;
                    background: none;
                    border: none;
                    padding: 22px;
                    text-align: center;
                    font-family: "SF Pro Display";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #788AA4;
                }
            }
        }
    }
    //MOBILE FILTER END

    // PROGRAMS BOX

    .programs-box {
        margin-top: 45px;

        .programs-box-desc {
            //border-bottom: 1px solid #DCE4EE;
            width: 80%;
            p {
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #788AA4;
            }
        }
    }
    .new-program-boxes {
        padding: 23px;
        //background: #F5F6FA;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #DCE4EE;
        border-bottom: 1px solid #DCE4EE;
        &:hover{
            background-color: #F2F6FB;
        }
        .new-program-boxes-img {
            width: 322px;
            margin-right: 25px;
            img {
                max-width: 100%;
                border-radius: 50%;
            }
        }
        .new-program-boxes-middle {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .top-middle {
                .title {
                    margin-top: 5px;
                    margin-bottom: 17px;
                    h3 {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 25px;
                        line-height: 20px;
                        color: #242424;
                    }
                    h3.middleTitle {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 18px;
                        color: #242424;
                    }
                    h3.smallTitle {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 16px;
                        color: #242424;
                    }
                }

                .popular-program {
                    background: #F2C94C;
                    display: inline-block;
                    padding: 5px 25px;
                    position: relative;
                    margin-bottom: 30px;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 100%;
                        top: 0px;
                        width: 0;
                        height: 0;
                        border-top: 17px solid transparent;
                        border-left: 17px solid #F2C94C;
                        border-bottom: 17px solid transparent;
                    }

                    span {
                        font-family: SF Pro Display;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        color: #242424;
                    }
                }
                .desc-title-act {
                    width: 90%;
                    .recomended {

                        p {
                            width: 85%;
                            font-family: "SF Pro Display";
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 26px;
                            color: #788AA4;
                        }
                        .logos {
                            margin-top: 16px;
                        }
                    }
                }
            }
            .bottom-middle {
                //display: flex;
                //align-items: flex-end;
                .bottom-middle-price {
                        margin-top: 11px;
                    .bottom-middle-price-old {
                        margin-bottom: 8px;
                        text-align: right;
                        display: block;

                        span {
                            font-family: "SF Pro Display";
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 26px;
                            color: #788AA4;
                            text-decoration: line-through;
                        }
                    }
                    .bottom-middle-price-new {
                        margin-bottom: 39px;
                        text-align: right;

                        span {
                            font-family: "SF Pro Display";
                            font-style: normal;
                            font-weight: bold;
                            font-size: 30px;
                            line-height: 38px;
                            color: #242424;
                        }
                    }
                    .new-program-icon-mob {
                        display: none;
                    }
                    .wrap-btn-middle-price{
                        display: flex;
                        flex-direction: column;
                        .bottom-middle-price-btn.podrob-btn {
                            margin-top: 4px;
                            button {
                                background: transparent;
                                color: #242424;
                                font-weight: normal
                            }
                        }
                        .bottom-middle-price-btn {
                            button {
                                font-family: "SF Pro Display";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 23px;
                                background: #2F80F3;
                                padding: 17px 43px;
                                color: #FFFFFF;
                                border: none;
                            }
                        }
                    }
                    .bottom-middle-price-btn {
                        text-align: end;
                        button {
                            font-family: "SF Pro Display";
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 23px;
                            background: #2F80F3;
                            padding: 17px 43px;
                            color: #FFFFFF;
                            border: none;
                        }
                        .more-price-info{
                            outline: none;
                            background-color: #2dce89;
                        }
                        .more-details{
                            margin-top: 4px;
                            //width: 100%;
                            background: transparent;
                            color: #242424;
                            font-weight: normal;
                            outline: none;
                        }
                    }
                }
            }
        }

        .mobile-profram-action {
            display: none;
            border-top: 1px solid #E1EDFF;

            .mobile-profram-action-pod {
                button {
                    font-family: "SF Pro Display";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #242424;
                    padding: 18px 25px;
                    background: none;
                    border: none;
                }
            }
            .mobile-profram-action-zap {
                button {
                    font-family: SF Pro Display;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                    padding: 18px 25px;
                    border: none;
                }
            }
        }
    }
}
.our-section-box {
    .our-variant {
        border-bottom: 1px solid #DCE4EE;
        margin-top: 35px;
        padding-bottom: 35px;

        .title {
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 32px;
            color: #242424;
        }
        .textarea {
            margin: 16px 0;
            textarea {
                border: 1px solid #DCE4EE;
                box-sizing: border-box;
            }
        }
        .send-variant {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                padding: 25px 106px;
                text-align: center;
                background: #2F80F3;
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 23px;
                color: #FFFFFF;
                border: none;
            }
        }
    }

    .show-more-new {
        margin-top: 35px;
        text-align: center;
        button {
            padding: 25px 100px;
            background-color: transparent;
            border: 1px solid #2F80F3;
            box-sizing: border-box;
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: #2F80F3;
        }
    }
}
