<template>
  <article class="recommend container-fluid">
    <div class="recommend__rec">Данную программу рекомендуют:</div>
    <div class="recommend__clients">
      <div class="recommend__client">
        <img src="../../../assets/images/programNMO/img/recommend-1.jpg" alt="client">
      </div>
      <div class="recommend__client">
        <img src="../../../assets/images/programNMO/img/recommend-2.jpg" alt="client">
      </div>
    </div>
  </article>
</template>

<script>
  export default {
    name: "Recommends"
  }
</script>

<style lang="scss" scoped>
    .recommend {
        padding: 0 15px;
        margin-bottom: 28px;

        @media (min-width: 768px) {
            margin-bottom: 55px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 65px;
        }

        &__rec {
            font-size: 14px;
            line-height: 145.84%;
            color: #242424;
            margin-bottom: 12px;

            @media (min-width: 768px) {
                font-size: 18px;
                line-height: 145.84%;
            }

            @media (min-width: 1200px) {
                font-size: 23px;
                line-height: 145.84%;
            }
        }

        &__clients {
            display: flex;
        }

        &__client {
            &:first-child {
                margin-right: 5px;
            }

            display: flex;
            align-items: center;
            justify-content: center;
            height: 46px;
            border-radius: 8px;
            border: 1px solid #eaeaea;
            background: white;
            transition: border .3s ease;

            img {
                width: 80%;
            }

            @media (min-width: 768px) {
                height: 75px;

                &:first-child {
                    margin-right: 8px;
                }
            }
        }
    }
</style>
