<template>
    <article class="tags container-fluid">
        <div>
            <div
                v-for="(item, key) in program_btn"
                :key="key"
                class="tags__tag"
            >
                {{item}}
            </div>
            <div
                :key="-11"
                @click="toggleMoreBtn()"
                v-if="program_btn_db.length > 3"
                class="tags__more-btn"
            >
                {{more_btn_text}}
            </div>
        </div>
    </article>
</template>

<script>

    import * as homeTypes from "@/stores/modules/home/types"

    export default {
        name: "Tags",
        data() {
            return {
                isAnimBtn: false,
                delay: 30,
                isVisible: true,
                addNum: 30,
                delNum: 0,

                listInfo: {},
                triggerToSlug: false,
                program: {},
                program_btn: [],
                program_btn_db: [],
                more_btn_show: false,

                tags: [
                    "нефрология",
                    "терапия",
                    "пластика",
                    "педиатрия",
                    "акушерство",
                    "хирургия",
                    "генетика",
                ],
                newFakeApiArray: [

                    "медсестринство",
                    "офтальмология",
                    "стоматология",
                    "косметика",
                    "кардиология",
                    "неврология",
                    "психиатрия",
                    "отоларингология",
                    "психотерапия",
                    "микрохирургия",
                    "нутрициология",
                    "ортодонтия ",
                    "трихология",
                    "вирусология",
                    "психология",
                    "гомеопатия",
                    "эндокринология",
                    "гинекология",
                    "санитария",
                    "ветеринария",
                    "валеология",
                    "фармакология",
                    "аллергология",
                    "проктология",
                    "дерматология",
                    "травматология",
                    "оптометрия",
                    "иммунология",
                    "ревматология ",
                    "физиотерапия"
                ]
            }
        },
        methods: {
            addTags() {
                setTimeout(function () {
                    this.fetchChangeBtn()
                }.bind(this), 0)

                this.newFakeApiArray.forEach((element, index) => {
                    setTimeout(() => {
                        this.tags.push(element);
                    }, this.delay * index);
                });
                this.delNum += 30
            },
            delTags() {

                setTimeout(function () {
                    this.fetchChangeBtn()
                }.bind(this), 800)

                let backDelay = 0;
                for (let i = this.delNum; i > 0; i--) {
                    let jack = this.tags;
                    (function (i) {
                        const subtraction = () => jack.pop();
                        setTimeout(subtraction, backDelay);
                        backDelay += 30
                    })(i);
                    this.delNum--
                }
            },
            fetchChangeBtn: function () {
                this.isVisible = !this.isVisible
            },
            fetchAnimBtnStart: function () {
                this.isAnimBtn = !this.isAnimBtn
            },
            fetchAnimBtnEnd: function () {
                this.isAnimBtn = !this.isAnimBtn
            },

            toggleMoreBtn() {
                this.more_btn_show = !this.more_btn_show;
                if (this.more_btn_show) {
                    this.program_btn = [...this.program_btn_db]
                } else {
                    this.program_btn = this.program_btn_db.filter((item, key) => {
                        return key < 3

                    })
                }
            }

        },
        mounted() {

            // геттер на данные из стора которые записываются при клике из списка

            this.listInfo = this.$store.getters["global/getBackProgramInfo"]
            if (this.listInfo.tag) {
                this.program_btn_db = this.listInfo.tag.split(";");
                this.program_btn_db.pop();
                this.program_btn = this.program_btn_db.filter((item, key) => {
                    return key < 3
                })
            }

            // фильтр при обновлении страницы
            if (this.listInfo.tag === undefined) {
                let program_slug = this.$route.params.id;

                /* TODO PROGRAM_ONE снести
                this.$store.dispatch("home/" + homeTypes.A_EDUCATION_PROGRAM_ALL)
                    .then(res => {
                        this.program = res.data.education_programs.data.filter(val => val.slug === program_slug)[0];
                        if (this.program.tag) {
                            this.program_btn_db = this.program.tag.split(";");
                            this.program_btn_db.pop();
                            this.program_btn = this.program_btn_db.filter((item, key) => {
                                return key < 3
                            })
                        }
                    });
                 */

                this.$store.dispatch("home/" + homeTypes.A_EDUCATION_PROGRAM_ONE, program_slug)
                    .then(res => {
                        console.log('Tags', this.program )
                        this.program = res.data.education_programs.data[0];
                        if (this.program.tag) {
                            this.program_btn_db = this.program.tag.split(";");
                            this.program_btn_db.pop();
                            this.program_btn = this.program_btn_db.filter((item, key) => {
                                return key < 3
                            })
                        }

                    });
            }

        },
        computed: {
            more_btn_text() {
                let text = "";
                if (this.more_btn_show) {
                    text = "Скрыть"
                } else {
                    text = `+${this.program_btn_db.length - 3} Показать`
                    // document.body.scrollTop = 0;
                    // document.documentElement.scrollTop = 0;
                }
                return text
            }
        },
    }
</script>

<style lang="scss" scoped>
    .tags {
        border-top: 1px solid #E0E3E9;
        padding: 36px 15px;

        @media (min-width: 768px) {
            padding: 50px 0;
        }

        @media (min-width: 1200px) {
            padding: 65px 0;
        }

        &__tag {
            background: #F2F4F7;
            border-radius: 3px;
            font-size: 14px;
            line-height: 17px;
            padding: 6px 12px;
            display: inline-block;
            margin-right: 8px;
            margin-bottom: 8px;

            @media (min-width: 768px) {
                font-size: 18px;
                line-height: 21px;
            }

            @media (min-width: 1200px) {
                font-size: 23px;
                line-height: 27px;
            }
        }
        &__more-btn{
            display: inline-block;
            cursor: pointer;
            @media (max-width: 768px) {
                font-size: 13px;
            }
        }
    }
</style>
