<template lang="pug">
	v-hover
		template(v-slot="{ hover }")
			nuxt-link(:to="`/${PLACES}/${$route.params.placeSlug}/${$route.params.eventSlug}/${seance.id}`" style="text-decoration: none")
				v-layout(:class="`seanceWrp elevation-${hover ? 6 : 4}`" align-center style="min-height: 96px;").py-2
					v-flex.flex-grow-0.px-6
						SeanceDate(:startsAt="seance.starts_at")
					v-layout(column).seanceBody.pl-4
						.seanceTitle {{ title }}
						.seanceScene {{ hall }}
						.seanceLabels(v-if="labels.length")
							UiLabel(v-for="label in labels" :text="label.title" :key="label.slug")
					v-layout(column align-end).flex-grow-0.px-2
						v-flex(v-if="age")
							.seanceAge {{ age }}
						v-flex(v-if="seance.prices[0]")
								v-btn(
								color="primary"
								class="caption font-weight-light"
								light
								).seanceBuy
									span {{ $t('delimiters.from_predicated') }}
									span {{ $n(seance.prices[0].min_price, 'currency', seance.prices[0].currency) }}
</template>

<script>
import { PLACES } from '@/utils/consts/routes.js'
import SeanceDate from '@/components/ui/Seances/Seance/SeanceDate'
import UiLabel from '~/components/ui/UiLabel'
export default {
  name: 'Seance',
  components: {
    SeanceDate,
    UiLabel
  },
  props: {
    seance: {
      type: Object,
      default: () => {},
      require: false
    },
    title: {
      type: String,
      default: 'Без названия',
      require: false
    },
    hall: {
      type: String,
      default: 'Без названия',
      require: false
    },
    age: {
      type: String,
      default: '0+',
      require: false
    },
    labels: {
      type: Array,
      default: () => [],
      require: false
    }
  },
  data: () => ({
    PLACES
  })
}
</script>
<style lang="scss" scoped>
.seanceWrp {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.02),
    0px 1px 4px rgba(0, 0, 0, 0.01) !important;
}
.seanceBody {
  flex: 1;
}
.seanceBuy {
  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #1c1f24;
    &:first-child {
      margin: 0 6px 0 0;
    }
  }
}
.seanceTitle {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #263238;
  font-weight: 500;
}
.seanceScene {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #8d8e94;
}
.seanceLabels {
  display: flex;
  min-width: fit-content;
  flex-wrap: wrap;
}
.seanceAge {
  background: #dedede;
  font-weight: 500;
  font-size: 11px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #474747;
  border-radius: 50%;
  min-height: 30px;
  min-width: 30px;
  justify-content: center;
  margin: 0 0 12px;
}
</style>
