<template lang="pug">
  v-layout(column).text-center
    v-flex.s-date {{ getDay(startsAt) }}
    v-flex.s-day       
      span {{ $t('Schedule.month')['m' + getMonth(startsAt)] }}., {{ $t('Schedule.weekday')['w' + getWeekDay(startsAt)] }}.
    v-flex.s-time {{ getTimes(startsAt) }}
</template>

<script>
export default {
  name: 'SeanceDate',

  props: {
    startsAt: {
      type: String,
      default: '',
      require: false
    }
  },
  methods: {
    // TODO mixins
    getTimes(eventTime) {
      if (eventTime && eventTime.length > 9) {
        const d = new Date(eventTime)
        let m = d.getMinutes()
        let h = d.getHours()
        return (h < 1 ? (h += '0') : h) + ':' + (m < 1 ? (m += '0') : m)
      }
    },
    getDay(eventTime) {
      if (eventTime && eventTime.length > 9) return new Date(eventTime).getDate()
    },
    getMonth(eventTime) {
      if (eventTime && eventTime.length > 9) return new Date(eventTime).getMonth() + 1
    },
    getWeekDay(eventTime) {
      if (eventTime && eventTime.length > 9) return new Date(eventTime).getDay() + 1
    }
  }
}
</script>
<style scoped>
.s-date {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #2a2b33;
}
.s-day {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #2a2b33;
}
.s-time {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2a2b33;
}
</style>
