<template>
    <div>

        <div class="container-fluid navigation">

            <nav class="navbar navbar-expand-xxl px-0">

                <div class="min-logo d-flex navigation__hamburger d-xxl-none" @click="openMobileMenu">
                    <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
                        <img src="../../assets/images/programNMO/svg/gamburger.svg" alt="">
                    </div>
                    <router-link class="logo" to="/">
                        <div class="double-logo d-flex flex-column d-block d-xxl-none">
                            <h4 class="navigation__hamburger-title">Федеральный</h4>
                            <h4 class="navigation__hamburger-title">Центр НМО</h4>
                        </div>
                    </router-link>
                </div>

                <div class="logo d-none d-xxl-flex flex-column" to="/">
                    <h4 class="navigation__title d-none d-xl-block">Федеральный Центр НМО</h4>
                    <span class="navigation__description secondary-text">Дистанционное обучение врачей, медсестер и фармацевтов</span>
                </div>

                <div class="navigation__phone d-none d-md-flex flex-column order-1 order-xl-2">
                    <div>+7 (984) 888-45-42</div>
                    <div class="navigation__phone-callMe">Заказать звонок</div>
                </div>

                <div class="navigation__phone-icon d-sm-flex d-md-none ">
                    <div><a href="tel:+7 (812) 409-97-36" class="email-text"><img src="../../assets/images/programNMO/svg/phone.svg" alt=""></a></div>
                </div>

                <div class="navigation__btn d-none d-md-flex order-2 order-xl-3">Вход или регистрация</div>


                <div
                    :class="{ show: showVisual }"
                    class="collapse navbar-collapse navigation__main-menu order-3 order-xl-1"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav ">

                        <li class="nav-item">
                            <router-link active-class="active" class="nav-link" to="/webinar">
                                Вебинары
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link active-class="active" class="nav-link" to="/programs">
                                Программы НМО
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link active-class="active" class="nav-link" to="/help">
                                Помощь
                            </router-link>
                        </li>
                    </ul>

                    <div class="close-btn d-md-none" @click="closeMobileMenu">
                        <img src="../../assets/images/programNMO/svg/closeMenu.svg" alt="close">
                    </div>
                </div>

            </nav>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Menu",
        data() {
            return {
                showVisual: false
            };
        },
        methods: {
            openMobileMenu() {
                this.showVisual = true
            },
            closeMobileMenu() {
                this.showVisual = false
            },
        },
    }
</script>

<style lang="scss" scoped>

    .navigation {

        &__title {
            @media (min-width: 576px) {
                margin-bottom: 0;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: #242424;
            }
            @media (min-width: 1024px) {
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
            }
        }

        &__description {
            font-size: 16px;
            line-height: 19px;
            display: none;
            @media (min-width: 1840px) {
                display: block;
            }
        }

        &__hamburger {
            button {
                border: none;
                outline: none;
                color: #242424;
                padding-left: 0;
                padding-right: 23px;
            }

            &-title {
                font-weight: bold;
                font-size: 18px;
                line-height: 15px;

                &:first-child {
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
            }
        }

        .navbar-toggler {
            padding-left: 0;
            margin-top: 4px;
            cursor: pointer;
        }

        .logo {
            padding-right: 0 !important;
            color: #242424;

            &:hover {
                text-decoration: none;
            }
        }

        #navbarSupportedContent {
            .navbar-nav {
                margin: 0 auto;
            }

            .nav-item {
                a {
                    padding: 6px;
                    margin-left: 9px;
                }
            }
        }

        &__main-menu {
            @media (max-width: 1080px) {

            }
        }

        .nav-link {
            font-weight: 500;
            font-size: 18px;
            color: #242424;
        }

        .active {
            color: #2F80F3;
        }

        a.nav-link:hover {
            color: #2F80F3;
        }

        .close-btn {
            position: absolute;
            cursor: pointer;
            float: right;
            right: 15px;
            top: 5px;
            transition: .3s ease-out;

            &:hover {
                transform: scale(1.4);
            }
        }

        &__phone {
            font-weight: 600;
            font-size: 19px;
            line-height: 24px;
            @media (min-width: 1024px) {
                width: 180px;
                margin-right: 70px;
            }
            @media (max-width: 1100px) and (min-width: 1024px) {
                font-size: 17px;
            }

            &-callMe {
                font-size: 18px;
                font-weight: normal;
                color: #2F80F3;
                border-bottom: 1px dashed;
                height: 21px;
                width: 130px;
                cursor: pointer;
            }
        }

        &__phone-icon {
            padding: 10px;
            margin: 12px 0;
        }

        &__btn {
            justify-content: center;
            align-items: center;
            margin: 5px 0;
            color: white;
            height: 66px;
            width: 244px;
            background: #2F80F3;
            cursor: pointer;
            transition: background .3s ease, box-shadow .3s ease;

            @media (max-width: 1124px) {
                width: 190px;
            }

            &:hover {
                background: lighten(#2F80F3, 10%);
                box-shadow: 0 7px 70px rgba(0, 50, 123, 0.3);
            }
        }

    }


</style>
