<template>
    <section class="container-fluid modules" :class="placeholder">
        <h3 class="modules__title">Основные модули учебной программы</h3>
        <div class="modules__content" v-html="!this.triggerToSlug ? listInfo.list : program.list"></div>
    </section>
</template>

<script>
    export default {
        name: "Modules",
        data: () => ({
            listInfo: {},
            triggerToSlug: false,
            modules: [
                "Выбор метода заместительной терапии функции почек",
                "Сосудистый доступ для гемодиализа",
                "Остаточная функция почек у пациентов получающих лечение диализом",
                "Осложнения сосудистого доступа",
                "Непосредственные осложнения процедур гемодиализа",
                "Осложнения перитонеального диализа и связанных манипуляций",
                "Трансплантация почки"
            ],
            isModalVisible: false
        }),
        props: ["program", "placeholder"],
        mounted() {
            // геттер на данные из стора которые записываются при клике из списка
            this.listInfo = this.$store.getters["global/getBackProgramInfo"];

            // фильтр при обновлении страницы
            if (this.listInfo.title === undefined) {
                this.triggerToSlug = true;
            }
        }
    }

</script>

<style lang="scss">
    .modules {
        margin-bottom: 25px;

        @media (min-width: 768px) {
            margin-bottom: 40px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 50px;
        }

        &__title {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: #242424;

            @media (min-width: 768px) {
                font-size: 29px;
                line-height: 39px;
                margin-bottom: 20px;
            }

            @media (min-width: 1200px) {
                font-size: 35px;
                line-height: 45px;
                margin-bottom: 25px;
            }

            @media (min-width: 1500px) {
                font-size: 38px;
                margin-bottom: 32px;
            }
        }

        &__content {
            font-size: 14px;
            line-height: 153.34%;
            color: #242424;

            p {
                margin: 0 0 11px 0;
                font-weight: normal;
                font-size: 14px;
                line-height: 153.34%;
                color: #242424;
            }

            h2 {
                margin-bottom: 20px;
                font-weight: 600!important;
                font-size: 22px;
                line-height: 26px;
                color: #242424;

                b {
                    font-weight: inherit;
                }

                @media (min-width: 768px) {
                    font-size: 33px;
                    line-height: 39px;
                    margin-bottom: 23px;
                }

                @media (min-width: 1200px) {
                    font-size: 38px;
                    line-height: 45px;
                    margin-bottom: 32px;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    margin-bottom: 14px;
                    position: relative;
                    padding-left: 17px;
                    font-size: 14px;
                    line-height: 153.34%;
                    color: #242424;

                    &:before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        background: #DCE4EE;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    p {
                        margin: 0;
                        font-size: inherit!important;
                        line-height: inherit!important;
                        font-weight: inherit!important;
                    }

                    @media (min-width: 768px) {
                        font-size: 18px;
                        line-height: 153.34%;
                        padding-left: 27px;

                        &:before {
                            width: 14px;
                            height: 14px;
                        }
                    }

                    @media (min-width: 1200px) {
                        font-size: 23px;
                        line-height: 153.34%;
                    }
                }
            }

            @media (min-width: 768px) {
                font-size: 18px;
                line-height: 153.34%;

                p {
                    margin: 0 0 15px 0;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 153.34%;
                }
            }

            @media (min-width: 1200px) {
                font-size: 23px;
                line-height: 153.34%;

                p {
                    margin: 0 0 20px 0;
                    font-weight: normal;
                    font-size: 23px;
                    line-height: 153.34%;
                }
            }
        }
    }
</style>

