<template>
    <section class="container-fluid" :class="placeholder">
        <section v-show="trial_video" class=" trailer" >
            <div class="preview" v-show="!isAnimate" @click="openVideoAnim">
                <div class="play-btn">
                    <img src="@/assets/images/programs/for-video.svg" alt="video-play">
                    <div class="text">Смотреть видео о программе</div>
                </div>

            </div>

            <video id="videoElement" ref="videoRef" controls :src="trial_video">
                <source ref="videoSource" :src="trial_video" type="video/mp4">
            </video>
        </section>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                isAnimate: false,
            }
        },
        props: ['program', "placeholder"],
        computed: {
            trial_video() {
                if (this.program.trial_video) {
                    this.$refs.videoRef.src = this.program.trial_video
                    return this.program.trial_video
                }
                return false
            }
        },
        methods: {
            openVideoAnim() {
                this.isAnimate = true;
                this.$refs.videoRef.play();
            }
        },
        mounted() {

            /* TODO A_GET_PROGRAM_ONE

            let cookies = document.cookie.split(";");
            let token;
            cookies.filter(val => {
                let key = val.split("=")[0];
                let item = val.split("=")[1];
                switch (key.replace(/ /g, "")) {
                    case "token":
                        token = item;
                        break;
                }
            });

            this.$store.dispatch("training/" + trainingTypes.A_GET_PROGRAMS,
                    {
                        token: token
                    })
                    .then(res => {
                    this.program = res.data.education_programs.data.filter(val => {
                        if(val.slug === this.$route.params.id) {
                            this.$refs.videoRef.src = val.trial_video
                            this.trial_video = val.trial_video
                            return val;
                        }
                    })
                });
             */

        }
    }
</script>

<style lang="scss" scoped>
    .trailer {
        position: relative;
        margin-bottom: 30px;
        padding-right: 0;

        @media (min-width: 320px) and (max-width: 1024px) {
            width: calc((100vw - 338px) / (1024 - 320) * (765 - 285) + 285px);
            height: calc((100vw - 320px) / (1024 - 320) * (410 - 160) + 150px);
            margin-bottom: 45px;
            padding-left: 0;
        }
        @media (min-width: 1024px) {
            width: 765px;
            height: 410px;
            margin-bottom: 82px;
        }
        border: none;
        outline: none;
        border-radius: 10px;
        overflow: hidden;


        .preview {
            /* TODO непонятно что с этим делать, возможно нужно будет выпилить
            @media (min-width: 320px) and (max-width: 1024px) {
                width: calc((100vw - 320px) / (1024 - 320) * (765 - 285) + 285px);
                height: calc((100vw - 320px) / (1024 - 320) * (410 - 160) + 160px);
            }
            @media (min-width: 1024px) {
                width: 765px;
                height: 410px;
            }
             */

            width: 100%;
            height: 100%;

            border: none;
            outline: none;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            z-index: 1;

            .play-btn {
                width: 100%;
                position: relative;
                cursor: pointer;
                img {
                    display: block;
                    margin: 0 auto;
                    @media (max-width: 576px) {
                        width: 45px;
                        height: 45px;
                    }
                    @media (min-width: 576px) and (max-width: 1024px) {
                        width: 65px;
                        height: 65px;
                    }
                    @media (min-width: 1024px) {

                    }
                }
            }

            .text {
                width: 100%;
                position: absolute;
                color: white;
                line-height: 131.3%;
                text-align: center;

                @media (max-width: 576px) {
                    font-size: 14px;
                    top: -30px;
                }
                @media (min-width: 576px) and (max-width: 1024px) {
                    font-size: 18px;
                    bottom: -30px;
                }
                @media (min-width: 1024px) {
                    font-size: 25px;
                    bottom: -50px;
                }
            }
        }

        video {
            /* TODO непонятно что с этим делать, возможно нужно будет выпилить
            @media (min-width: 320px) and (max-width: 1024px) {
                width: calc((100vw - 320px) / (1024 - 320) * (765 - 285) + 285px);
                height: calc((100vw - 320px) / (1024 - 320) * (410 - 160) + 160px);
            }
            @media (min-width: 1024px) {
                width: 765px;
                height: 410px;
            }
             */

            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border-radius: 10px;
        }
    }
</style>
